@import "tailwindcss";

@theme {
  --color-primary: #6B3A94;
  --color-secondary: #FFC107;
  --color-bg-light: #F3EBF9;
  --color-accent: #FF5722;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #ffffff;
  -webkit-font-smoothing: antialiased;
}
